@import url('https://fonts.google.com/specimen/Spartan:wght@400,500;700&display=swap');
:root { 
    --very-dark-magenta: hsl(300, 43%, 22%); 
    --soft-pink: hsl(333, 80%, 67%);
    --dak-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-size: 15px;
}
body > * {
    border: 5px solid lightblue;
}
body {
    background-image: url('./images/bg-pattern-top-desktop.svg'), url('./images/bg-pattern-bottom-desktop.svg');
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 3fr 1fr;
    grid-template-areas:
        "header aside"
        "main main"
        "footer footer";
    gap: 20px;
}
header {
    grid-area: header;
}
aside > * {
    border: 2px solid lightpink;
}
aside {
    grid-area: aside;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}