@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700;800;900&display=swap');
:root { 
    --very-dark-magenta: hsl(300, 43%, 22%); 
    --soft-pink: hsl(333, 80%, 67%);
    --dak-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
    --link-color-blue: hsl(228, 45%, 44%);
}

body {
    font-size: 15px;
    font-family: "Spartan";
    text-align: center;
}

.header-content {
    color: var(--very-dark-magenta);
}

.title {
    font-weight: 700;
    line-height: 1;
}

.header-text {
    font-size: 1rem;
    font-weight: 500;
    color: var(--dak-grayish-magenta);
}

.rating {
    background-color: var(--light-grayish-magenta);
    border-radius: 0.5rem;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.rated {
    font-size: 0.85rem;
    font-weight: 800;
    color: var(--very-dark-magenta);
}

.main-reviews-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    place-items: center;
}

.review {
    align-self: center;
    background-color: var(--very-dark-magenta);
    color: var(--light-grayish-magenta);
    border-radius: 0.5rem;
    margin: 0;
    padding: 2rem;
    text-align: left;
}

.user-demograph > p {
    margin: 0;
}

.user-name {
    font-weight: 800;
}

.veification-status {
    color: var(--soft-pink);
}

.attribution {
    margin-top: 10px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: var(--link-color-blue);
}

@media screen and (min-width: 1024px), screen and (min-width: 1440px) {
    
    body {
        background-image: url('./images/bg-pattern-top-desktop.svg'), url('./images/bg-pattern-bottom-desktop.svg');
        background-position: top left, bottom right;
        background-repeat: no-repeat;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 40% 50% 10%;
        grid-template-areas:
            "header aside"
            "main main"
            "footer footer";
        gap: 30px;
        padding: 4rem;
        text-align: left;
    }

    .header-content {
        grid-area: header;
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding: 0 5rem;
    }

    .title {
        font-size: 3rem;
        margin: 0 auto;
    }

    .header-text {
        flex: 1;
    }

    .aside-content {
        grid-area: aside;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
        place-items: center;
    }

    .rating {
        max-width: 45rem;
        align-self: center;
        display: flex;
        align-items: center;
        align-content: center;
        padding: 5px 35px;
        justify-content: center;
    }

    .rating:first-of-type {
        justify-self: flex-start;
    }

    .rating:last-of-type {
        justify-self: flex-end;
    }

    .rating-star {
        padding: 0 0.15rem;
    }

    .rated {
        font-size: 0.85rem;
        font-weight: 800;
        color: var(--very-dark-magenta);
        margin-left: 15px;
        margin-right: 15px;
        align-self: center;
    }

    .main-reviews-content {
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 30px;
        place-items: center;
        padding-left: 5rem;
    }

    .review {
        align-self: center;
    }

    .review:first-of-type {
        align-self: flex-start;
    }

    .review:last-of-type {
        align-self: flex-end;
    }

    .user-details {
        display: flex;
    }

    .user-details .user-profile-picture {
        margin-right: 15px;
        border-radius: 50%;
    }

    .user-demograph {
        align-self: center;
        justify-self: center;
    }

    .attribution {
        grid-area: footer;
    }
}

@media only screen and (max-width: 376px) {

    body {
        background-image: url('./images/bg-pattern-top-mobile.svg'), url('./images/bg-pattern-bottom-mobile.svg');
        background-position: top left, bottom right;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding: 4rem 1rem;
        text-align: center;
    }

    .header-content {
        align-self: center;
    }

    .title {
        font-size: 2rem;
        font-weight: 700;
        margin: 0 auto;
    }
}